<h1>Hi, <%= @name %></h1>
<p>The time now is <%= formatted_time(@time) %></p>

<p><%= link_to "Google", "http://www.google.com" %></p>

<p><%= link_to "Bye", greeter_bb_path %></p>
<p><%= link_to "Rosetta", rosetta_monument_url %></p>
